<div class="card mb-3">
  <h2 class="card-header h4">
    Goals Comment #<%= goals_comment.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Goal</dt>
      <!-- Display goal_id start -->
      <dd><%= goals_comment.goal_id %></dd>
      <!-- Display goal_id end -->

      <dt>Coach</dt>
      <!-- Display coach_id start -->
      <dd><%= goals_comment.coach_id %></dd>
      <!-- Display coach_id end -->

      <dt>Content</dt>
      <!-- Display content start -->
      <dd><%= goals_comment.content %></dd>
      <!-- Display content end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back goals_comment, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link goals_comment start -->
      <div class="col">
        <%= link_to edit_goals_comment_url(goals_comment), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link goals_comment end -->

      <!-- Delete link goals_comment start -->
      <div class="col">
        <%= link_to goals_comment, method: :delete, data: { confirm: "Do you really want to delete this goals_comment?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link goals_comment end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(goals_comment.updated_at) %> ago
  </div>
</div>
