<% was_validated = invite.errors.any? %>

<%= form_with(model: invite, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for coach_id start -->
  <div class="form-group">
    <% coach_class = "form-control" %>
    <% coach_was_invalid = invite.errors.include?(:coach) %>

    <% if was_validated %>
      <% if coach_was_invalid %>
        <% coach_class << " is-invalid" %>
      <% else %>
        <% coach_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :coach_id %>
    <!-- Input for coach_id start -->
    <%= f.number_field :coach_id, class: coach_class, placeholder: "Enter coach" %>
    <!-- Input for coach_id end -->
    <% if coach_was_invalid %>
      <% invite.errors.full_messages_for(:coach).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for coach_id end -->
  <!-- Label and input for improvement_plan_id start -->
  <div class="form-group">
    <% improvement_plan_class = "form-control" %>
    <% improvement_plan_was_invalid = invite.errors.include?(:improvement_plan) %>

    <% if was_validated %>
      <% if improvement_plan_was_invalid %>
        <% improvement_plan_class << " is-invalid" %>
      <% else %>
        <% improvement_plan_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :improvement_plan_id %>
    <!-- Input for improvement_plan_id start -->
    <%= f.number_field :improvement_plan_id, class: improvement_plan_class, placeholder: "Enter improvement plan" %>
    <!-- Input for improvement_plan_id end -->
    <% if improvement_plan_was_invalid %>
      <% invite.errors.full_messages_for(:improvement_plan).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for improvement_plan_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
