<div class="card mb-3">
  <h2 class="card-header h4">
    Action Step #<%= action_step.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Goal</dt>
      <dd>
        <% if @action_step.goal.present? %>
          <%= link_to action_step.goal, action_step.goal %>
        <% end %>
      </dd>

      <dt>Description</dt>
      <dd><%= action_step.description %></dd>

      <dt>Target date</dt>
      <dd><%= action_step.target_date %></dd>

      <dt>Lead person</dt>
      <dd><%= action_step.lead_person %></dd>

      <dt>Resources needed</dt>
      <dd><%= action_step.resources_needed %></dd>

      <dt>Implementation specifics</dt>
      <dd><%= action_step.implementation_specifics %></dd>

      <dt>Measures of success</dt>
      <dd><%= action_step.measures_of_success %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back action_step, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_action_step_url(action_step), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to action_step, method: :delete, data: { confirm: "Do you really want to delete this action_step?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(action_step.updated_at) %> ago
  </div>
</div>
