<% was_validated = improvement_plan.errors.any? %>

<%= form_with(model: improvement_plan, local: true, novalidate: true, class: "mb-3") do |f| %>
  <%= f.hidden_field :teacher_id, value: current_teacher.id %>
  <div class="form-group">
    <% status_class = "form-control" %>
    <% status_was_invalid = improvement_plan.errors.include?(:status) %>

    <% if was_validated %>
      <% if status_was_invalid %>
        <% status_class << " is-invalid" %>
      <% else %>
        <% status_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :status %>
    <%= f.text_field :status, class: status_class, placeholder: "Enter status" %>
    <% if status_was_invalid %>
      <% improvement_plan.errors.full_messages_for(:status).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
