<%= form_with(model: @plan_comment, local: true) do |f| %>

  <%= f.hidden_field :improvement_plan_id, value: @improvement_plan.id %>

  <div class="form-group">
    <%= f.label :coach_id %>

    <%= f.text_field :coach_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, rows: "3", class: "form-control" %>
  </div>

  <%= f.submit "Create plan comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
