<%= form_with(model: @goal, local: true) do |f| %>

  <%= f.hidden_field :improvement_plan_id, value: @improvement_plan.id %>

  <div class="form-group">
    <%= f.label :description %>

    <%= f.text_field :description, class: "form-control" %>
  </div>

  <%= f.submit "Create goal", class: "btn btn-block btn-outline-secondary" %>
<% end %>
