<%= form_with(model: @invite, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :coach_id %>

    <%= f.collection_select :coach_id, Teacher.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :improvement_plan_id, value: @improvement_plan.id %>

  <%= f.submit "Create invite", class: "btn btn-block btn-outline-secondary" %>
<% end %>
