<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @improvement_plan, partial: "card", as: :improvement_plan %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "improvement_plans/improvement_plan_goals" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "improvement_plans/improvement_plan_invites" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "improvement_plans/improvement_plan_plan_comments" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "improvement_plans/improvement_plan_coaches" %>
  </div>
</div>
  <!-- Show Page Customization end -->
