<%= form_with(model: @invite, local: true) do |f| %>

  <%= f.hidden_field :coach_id, value: @teacher.id %>

  <div class="form-group">
    <%= f.label :improvement_plan_id %>

    <%= f.collection_select :improvement_plan_id, ImprovementPlan.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create invite", class: "btn btn-block btn-outline-secondary" %>
<% end %>
