<%= form_with(model: @improvement_plan, local: true) do |f| %>

  <%= f.hidden_field :teacher_id, value: @teacher.id %>

  <div class="form-group">
    <%= f.label :status %>

    <%= f.text_field :status, class: "form-control" %>
  </div>

  <%= f.submit "Create improvement plan", class: "btn btn-block btn-outline-secondary" %>
<% end %>
