<%= form_with(model: @action_step, local: true) do |f| %>

  <%= f.hidden_field :goal_id, value: @goal.id %>

  <div class="form-group">
    <%= f.label :description %>

    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :target_date %>

    <%= f.date_select :target_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :lead_person %>
    <%= f.text_area :lead_person, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :resources_needed %>
    <%= f.text_area :resources_needed, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :implementation_specifics %>
    <%= f.text_area :implementation_specifics, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :measures_of_success %>
    <%= f.text_area :measures_of_success, rows: "3", class: "form-control" %>
  </div>

  <%= f.submit "Create action step", class: "btn btn-block btn-outline-secondary" %>
<% end %>
